#color-picker {
  .IroColorPicker {
    justify-content: center;
  }
}

#picker {
  .form-field {
    width: 5.5rem;
  }
}

#color-palette {
  .palette-picker {
    overflow-y: scroll;
    max-height: 10rem;
  }
  .form-field {
    width: 5.25rem;
  }
}
