#download {
  @include responsive('md-up') {
    margin-top: 1.5rem;
  }

  &.load {
    form {
      filter: blur(1px);
    }

    .loading {
      display: flex;
    }
  }
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 20;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-list {
  label {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5px;
    flex-shrink: 0;
  }

  .close {
    height: 2.5rem;
    width: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.2s ease;
  }
}
