.builder-preview {
  height: 27rem;
  width: 15rem;
  border-radius: 15px;
  border: 2px solid #000;
  justify-self: center;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    'navbar'
    'main'
    'footer';
  grid-template-rows: auto 1fr auto;

  .navbar {
    grid-area: navbar;

    .navbar-link {
      transition-duration: 0s;

      &:hover {
        background-color: inherit;
      }
    }
  }

  .main {
    grid-area: main;

    .span-txt {
      line-height: 1rem;
      font-size: 0.8rem;
    }
    .main-circle {
      position: relative;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      font-size: 0.9rem;
      color: var(--neu-build-txt);

      i {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
    }
  }

  .footer {
    grid-area: footer;

    .footer-circle {
      position: relative;
      width: 48px;
      height: 48px;

      i {
        font-size: 1.3rem;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
    }
  }

  // Builder shadow
  .neu-build-bg,
  &.neu-build-bg {
    background-color: var(--neu-build-bg);
    color: var(--neu-build-txt);
  }

  .neu-build-flat {
    background-color: var(--neu-build-bg);
    box-shadow: 5px 5px 10px var(--neu-build-dk8), -5px -5px 10px var(--neu-build-lt8);
  }

  .neu-build-pressed {
    background-color: var(--neu-build-bg);
    box-shadow: inset 5px 5px 10px var(--neu-build-dk8), inset -5px -5px 10px var(--neu-build-lt6);
  }

  .neu-build-convex {
    background: linear-gradient(145deg, var(--neu-build-lt7), var(--neu-build-dk6));
    box-shadow: 5px 5px 10px var(--neu-build-dk8), -5px -5px 10px var(--neu-build-lt6);
  }

  .neu-build-concave {
    background: linear-gradient(145deg, var(--neu-build-dk6), var(--neu-build-lt6));
    box-shadow: 5px 5px 10px var(--neu-build-dk8), -5px -5px 10px var(--neu-build-lt6);
  }

  .neu-build-bordered {
    background-color: var(--neu-build-bg);
    border: solid 2px transparent;
    box-shadow: inset 5px 5px 10px var(--neu-build-dk8), inset -5px -5px 10px var(--neu-build-lt6), 5px 5px 10px var(--neu-build-dk8),
      -5px -5px 10px var(--neu-build-lt6);
  }
}
