<div class="sidenav-header hide-md-up">
  <button data-target="main-sidenav" aria-label="Close sidenav" class="btn btn-circle btn-small hide-md-up sidenav-cross"><span class="iconify-inline font-s4" data-icon="mdi:close"></span></button>
  <img class="docs-logo sidenav-logo hide-md-up" src="{{ .Site.BaseURL }}/img/neu-axentix.svg" alt="Axentix Logo" />
</div>

<div class="sidenav-content pt-4">
  <div class="hide-md-up">
    <a href="{{ .Site.BaseURL }}" class="sidenav-link">Home</a>
    <div class="divider"></div>
  </div>
  
  <a href="{{ ref . "getting-started" }}" class="sidenav-link {{ if  eq "Getting started" $.Page.Title . }}active{{ end }}">
    Getting started
  </a>

  <a href="{{ ref . "colors" }}" class="sidenav-link {{ if  eq "Colors" $.Page.Title . }}active{{ end }}">
    Colors
  </a>

  <a href="{{ ref . "shadows" }}" class="sidenav-link {{ if  eq "Shadows" $.Page.Title . }}active{{ end }}">
    Shadows
  </a>
</div>

<a id="discord-footer" href="https://discord.useaxentix.com/" target="_blank" rel="noopener" class="sidenav-footer text-center grey dark-5">
  <span class="iconify-inline" data-icon="mdi:discord"></span> &nbsp;
  Join us
</a>
