<section class="text-center d-flex fx-col pt-5">
  <div class="container pt-4 d-flex fx-col vcenter">
    <h2 class="font-w600 relative-pos z-index-2">You only have 3 things to know</h2>

    <div class="grix xs1 md3 gutter-xs5 font-s5 mt-5">
      <a href="{{ ref . "getting-started" }}" class="d-inline rounded-2 p-3 bd-3 bd-solid bd-secondary">
        Installation <span class="iconify-inline" data-icon="mdi:download"></span>
      </a>
      <a href="{{ ref . "colors" }}" class="rounded-2 p-3 bd-3 bd-solid bd-secondary">Colors <span class="iconify-inline" data-icon="mdi:palette"></span></a>
      <a href="{{ ref . "shadows" }}" class="rounded-2 p-3 bd-3 bd-solid bd-secondary">
        Shadows <span class="iconify-inline" data-icon="mdi:box-shadow"></span>
      </a>
    </div>
  </div>
</section>
