<section class="text-center d-flex fx-col pt-5">
  <div class="container pt-4 d-flex fx-col vcenter">
    <h1 class="font-w600 relative-pos z-index-2">
      Build websites using <span class="orange-gradient text-gradient">neumorphism shadows</span> with Neu-Axentix.
    </h1>

    <h2 class="font-w400 font-s6 mb-5">The <strong>framework</strong> you need to easily use <strong>neumorphism</strong> shadows.</h2>

    <div class="d-flex vcenter">
      <em class="ml-3">Latest version: {{ .Site.Params.current }}</em>
    </div>
  </div>
</section>
