<div class="rounded-2 p-3 relative-pos overflow-hidden bd-3 bd-solid bd-grey bd-light-3 mb-5" id="download">
  <div class="loading">
    <div class="spinner large text-blue">
      <svg viewBox="25 25 50 50">
        <circle class="spinner-path" cx="50" cy="50" r="20" fill="none" stroke-width="3" />
      </svg>
    </div>
    <p class="text-black mt-3 font-w500">Loading...</p>
  </div>

  <form class="form-material form-material-bordered">
    <div class="grix xs1">
      <div class="color-list"></div>
      <input type="hidden" id="colors" name="colors" />
      <div class="form-field">
        <label for="suffix">Suffix</label>
        <input class="form-control rounded-1" required type="text" id="suffix" name="suffix" value="custom" />
      </div>
      <div class="form-field">
        <label class="form-check ml-0">
          <input type="checkbox" checked required id="minify" name="minify" />
          <span>Minify file</span>
        </label>
      </div>
      <div class="text-grey">
        Filename: neu-axentix-<span id="filename-suffix">custom</span><span id="filename-extension">.min.css</span>
      </div>
    </div>
    <div class="mt-3 d-flex fx-center" id="captcha"></div>
    <button class="btn secondary rounded-1 mt-4 mx-auto d-block" type="submit" id="download-btn">Download</button>

    <div class="d-block text-center mt-3">
      <a class="text-secondary font-w600 text-center mt-3" href="" data-target="import-modal">Import theme</a>
      -
      <a class="text-secondary font-w600 text-center mt-3" href="" id="download-theme-btn">Download theme</a>
    </div>
  </form>
</div>

<div class="modal shadow-1 neu-light rounded-3" id="import-modal">
  <div class="modal-header d-flex">
    Import theme
    <button class="btn btn-small d-flex transparent ml-auto" data-target="import-modal">
      <span class="iconify" data-icon="fa6-solid:x"></span>
    </button>
  </div>
  <div class="modal-content">
    <form>
      <div class="form-file pb-3">
        <label for="theme-input" class="btn rounded-1 neu-convex">Theme</label>
        <input type="file" name="theme-input" id="theme-input" accept="application/json" />
        <div class="form-file-path"></div>
      </div>

      <button
        class="btn rounded-1 neu-flat mx-auto mt-3 d-block"
        data-neu-click="neu-pressed"
        type="submit"
        id="import-theme-btn"
      >
        Import
      </button>
    </form>
  </div>
</div>
