<div class="d-flex fx-center relative-pos" id="neumorph-preview">
  <div class="device device-iphone-x neu-iphone mt-3">
    <div class="device-frame z-index-2">
      <div class="device-content d-flex fx-col z-index-1 builder-preview neu-build-bg" data-neu>
        <div class="d-flex w100 pt-5 px-4">
          <button
            data-neu-build-click="neu-build-pressed"
            class="btn btn-small btn-circle neu-build-flat neu-small d-flex vcenter fx-center"
            aria-label="Fake back button"
          >
            <span class="iconify-inline font-s3" data-icon="mdi:chevron-left"></span>
          </button>
          <span class="text-center mx-auto w100 my-auto font-s1">Insane song app</span>
          <button
            data-neu-build-clicked="neu-build-pressed"
            class="btn btn-small btn-circle neu-build-flat neu-small ml-auto d-flex fx-center vcenter"
            aria-label="Fake back button"
          >
            <span class="iconify-inline font-s3" data-icon="mdi:headphones"></span>
          </button>
        </div>

        <img
          id="song-image"
          class="responsive-media mx-auto mt-4 mb-3 rounded-full neu-build-bordered neu-large"
          src="{{ .Site.BaseURL }}/img/headphones.jpg"
          alt="song-image"
        />

        <span class="text-center font-s3">Song name</span>
        <span class="text-center font-s1 mt-1">Ft prestige music</span>

        <div class="d-flex mx-5 pb-1 mt-5 song-time">
          <span class="font-s1">2:12</span>
          <span class="ml-auto font-s1">3:08</span>
        </div>
        <div class="relative-pos">
          <div class="progress rounded-2 progress-small mx-auto">
            <div class="progress-bar grey dark-2" style="width: 70%"></div>
          </div>

          <div class="progress-thumb shadow-1"></div>
        </div>

        <div class="footer mt-auto mb-5 fx-center pl-0">
          <button
            data-neu-build-click="neu-build-pressed"
            class="btn btn-circle btn-small mr-4 neu-build-convex neu-small d-flex fx-center vcenter"
            aria-label="Fake previous"
          >
            <span class="iconify-inline font-s3" data-icon="mdi:skip-backward"></span>
          </button>
          <button
            class="btn btn-circle large mx-1 neu-build-concave neu-small font-s3 d-flex fx-center vcenter"
            aria-label="Fake play"
            data-neu-build-click="neu-build-bordered"
          >
            <span class="iconify-inline font-s6" data-icon="mdi:play"></span>
          </button>
          <button
            data-neu-build-click="neu-build-pressed"
            class="btn btn-circle btn-small ml-4 neu-build-convex neu-small d-flex fx-center vcenter"
            aria-label="Fake next"
          >
            <span class="iconify-inline font-s3" data-icon="mdi:skip-forward"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="device-stripe"></div>
    <div class="device-header z-index-3"></div>
    <div class="device-sensors"></div>
    <div class="device-btns"></div>
    <div class="device-power"></div>
    <div class="device-home"></div>
  </div>
</div>

<p class="text-center">This preview allow you to see what you will get using the selected color.</p>
