<div class="mx-auto builder-preview neu-build-bg z-index-1">
  <nav class="navbar neu-build-flat">
    <div class="navbar-brand font-w300">Preview</div>
    <div class="navbar-menu ml-auto lh-normal">
      <a class="navbar-link rounded-2 neu-build-flat" data-neu-build-click="neu-build-pressed"><i class="fas fa-bars"></i></a>
    </div>
  </nav>

  <div class="main mt-3">
    <div class="mx-3 grix xs1 gutter-xs2">
      <div class="card neu-build-flat rounded-2 grix xs4 px-2 py-3 d-grid">
        <a href="https://twitter.com/AxelSimonet" target="_blank" rel="noopener" class="rounded-full cursor-default">
          <img
            src="https://pbs.twimg.com/profile_images/1231644783506075649/8n9VHm0g_400x400.jpg"
            alt="Axel SIMONET"
            width="40"
            height="40"
            class="rounded-full my-auto"
          />
        </a>
        <p class="span-txt txt-center my-auto mb-1 col-xs2"><strong>Axel</strong> followed you</p>
        <div class="main-circle rounded-full mx-auto neu-build-convex my-auto cursor-pointer" data-neu-build-click="neu-build-pressed">
          <i class="fas fa-user"></i>
        </div>
      </div>

      <div class="card neu-build-flat rounded-2 grix xs4 px-2 py-3 d-grid">
        <a href="https://twitter.com/VincentLvqe" target="_blank" rel="noopener" class="rounded-full cursor-default">
          <img
            src="https://avatars2.githubusercontent.com/u/49057921?s=460&u=6a5cc19eddaeaee60f02a972889e6f6ff058f631&v=4"
            alt="Vincent LEVEQUE"
            width="40"
            height="40"
            class="rounded-full my-auto"
          />
        </a>
        <p class="span-txt txt-center my-auto mb-1 col-xs2"><strong>Vincent</strong> liked your post</p>
        <div class="main-circle rounded-full mx-auto neu-build-concave my-auto cursor-pointer" data-neu-build-clicked="neu-build-bordered">
          <i class="far fa-heart"></i>
        </div>
      </div>

      <div class="neu-build-bordered mx-auto px-3 py-2 font-w300 rounded-2 txt-center">More...</div>
    </div>
  </div>

  <div class="footer fx-center txt-center grix xs3">
    <div class="footer-circle rounded-full neu-build-pressed my-2 cursor-pointer" data-neu-build-hover="neu-build-flat">
      <i class="fas fa-home"></i>
    </div>
  </div>
</div>

<p class="txt-center">This preview allow you to see what you will get using the selected color.</p>
